<div class="animate__animated animate__fadeIn animate__faster">
  <h2>
    Buscar por region <small>{{ regionActiva | titlecase }}</small>
  </h2>
  <hr />

  <h5>Seleccione la region</h5>

  <div class="row">
    <div class="col">
      <!-- [class.btn-primary]="item === regionActiva" -->
      <!-- [ngClass]="{
        'btn-primary': regionActiva == item,
        'btn-outline-primary': regionActiva !== item
      }" -->
      <!-- item === regionActiva ? 'btn btn-primary' : 'btn btn-outline-primary -->
      <button
        *ngFor="let item of regiones"
        [class]="getClaseCSS(item)"
        (click)="activarRegion(item)"
      >
        {{ item | titlecase }}
      </button>
    </div>
  </div>

  <div *ngIf="paises.length > 0" class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col">
    <app-pais-input (onEnter)="buscar($event)"></app-pais-input>
  </div>
</div>

<hr />
 -->
