<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{ nombre | uppercase }}</h1>
  <h1>{{ number | number }}</h1>
  <h1>{{ objeto | json }}</h1>

  <button
    pButton
    (click)="cambiarNombre()"
    label="Cambiar nombre"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
  ></button>
</div>

<p-card
  [header]="nombre"
  [subheader]="number.toString()"
  [style]="{ width: '25rem', 'margin-bottom': '2em' }"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </p>
</p-card> -->
